html {
    font-size: 62.5%; /* 1rem is 10px */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    width: 100vw;
    height: 100vh;

    /* background-color: rgb(29, 29, 29); */
}

.app {
    /* margin-top: 2rem;
    display: grid;
    justify-items: center;
    background-repeat: no-repeat;
    background-image: url("dimSum.png");
    background-position: center top;
    background-size: 90%;
    margin-top: 0;
    height: 680px; */
}

.landingArea {
    
    background-repeat: no-repeat;
    background-image: url("dimSum.png");
    background-size: contain;
}

.navbarLinks {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    left: 0;
    margin-bottom: 25px;
}

.links {
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-size: 1.5em;
}

.links:hover {
    color: whitesmoke;
}

.background {
    display: flex;
    justify-content: center;
    /* background-repeat: no-repeat;
    background-image: url("dimSum.png");
    background-position: center top;
    background-size: 90%;
    margin-top: 0; */
}

.header {
    display: flex;
    justify-content: center;
    width: 90%;
    font-family: 'Fugaz One', cursive;
}

.subhead {
    font-size: 5em;
}

.FLC {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 8em;
}

/* .firstTitle {
    width: 100vw;
    height: 75%;
    color: whitesmoke;
    font-size: 15em;
    margin-left: 20%;
    /* margin-bottom:;
} */

/* .secondTitle {
    width: 100vw;
    height: 75%;
    color: whitesmoke;
    font-size: 15em;
    margin-left: 20%;
    margin-top: -75px;
} */